<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Airline thingy</title>
  </head>
  <body>
    <h1>Welcome to the Airline thing!</h1>
    <br>
    <h3><a href="/flights">View all Flights</a></h3>
    <h3><a href="/cities">View all Cities</a></h3>
  </body>
</html>
